



<div>
  <table class="table table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">amount</th>
      <th scope="col">unit</th>
      <th scope="col">sum</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of demiOrder.commands">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.amount}}</td>
      <td>{{product.unit}}</td>
      <td>{{product.sum}}</td>
    </tr>
    </tbody>
  </table>
  <div class="row ">
    <p class="col col-auto me-auto total">Total: {{demiOrder.total}} $</p>
    <div class="col col-auto">
      <button class="btn btn-primary" (click)="saveOrder()"  routerLink="/content_home"> Save order</button>
    </div>

  </div>
</div>

