



<div *ngIf=" exist ">
  <h2> My account </h2>
</div>
<div *ngIf="!exist">
  <h2> Hello {{client.name}}</h2>
</div>

<div class="space">
  <div  class="d-flex justify-content-evenly">
    <div  *ngIf="!exist">
      <button class="btn btn-primary"  routerLink="/my_profile" >My profile</button>
    </div>
    <div  *ngIf="!exist">
      <button class="btn btn-primary" (click)="getClientOrders()" > My orders</button>
<!--      <p *ngIf="messageOrders">{{messageOrders}}</p>-->
    </div>

<!--    <div>-->
<!--      <button class="btn btn-primary"  routerLink="/client_perso"> My account </button>-->
<!--    </div>-->
    <div *ngIf="exist">
      <button class="btn btn-primary"  routerLink="/registration"> Registration</button>

    </div>
    <div *ngIf="exist">
      <button class="btn btn-primary"  (click)="getAuth()"> Sing in</button>
    </div>
  </div>
</div>

<div>
  <div  *ngIf="!exist">
    <p class="message-error" *ngIf="messageOrders">{{messageOrders}}</p>
  </div>

  <div  *ngIf="exist">
    <p class="message-error" *ngIf="messagePreOrder">{{messagePreOrder}}</p>
  </div>

  <div *ngIf="exist">
    <div *ngIf="switchAuth">
      <app-autentification (singIn)="setClientAndExist($event)" ></app-autentification>
    </div>

  </div>


  <div *ngFor="let order of clientOrder">
    <app-order [order]="order"></app-order>
  </div>

</div>
